{% extends 'base.html.twig' %}

<table class="table">
    <thead>
    <tr>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ show.price }}</td>
        </tr>
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    </tbody>
</table>