{% extends 'base.html.twig' %}

{% block body %}
<table class="table prices">
    <thead>
    <tr>
        <th>Adulte</th>
        <th>Enfant</th>
        <th>Groupe</th>
        <th>Ecole</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> </td>
    </tr>
        <tr>
            <td>{{ constant("App\\Entity\\Show::PRICES") ['Adultes'] }} €</td>
            <td>{{ constant("App\\Entity\\Show::PRICES") ['Enfants'] }} €</td>
            <td>{{ constant("App\\Entity\\Show::PRICES") ['Groupes'] }} €</td>
            <td>{{ constant("App\\Entity\\Show::PRICES") ['Ecoles'] }} €</td>
        </tr>
    </tbody>
</table>
{% endblock %}